form {
    width: 50%; 
    height: 100%;
    border-style: none;
    margin:0 auto;/*水平置中*/
}
textarea {
  width: 80%;
  height: 100px;
}
button {
  padding: 10px;
  background-color: rgb(121, 224, 130);
  border: 1px solid rgb(0, 0, 0);}
input,label {
  padding: 6px;
  font-size: 16px;
  border-radius: 30px;
}
textarea, button {
  border-radius: 30px;}
    body {
    background-image:url(https://api.pcloud.com/getpubthumb?code=XZ4RxKkZj0YLhNXk0s82TMSGLMOKgbU05PR7&linkpassword=undefined&size=500x246&crop=0&type=auto);
    background-size:100% 100%;
    background-position: center;
    background-repeat:no-repeat;
    background-attachment: fixed;
  }

 